<div>
  <!-- <div class="card-category m-4 p-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">

    <p>Hero Trainer is a platform that connects users with elite training partners for personalized workouts and skill development. Whether you're looking to improve your martial arts, strength training, or combat skills, Hero Trainer helps you find the right partner to challenge and motivate you.</p>
  </div>
  -->

  <%# <div class="d-flex justify-content-between align-items-between"> %>
  <div class="hero-banner d-flex flex-column justify-content-center align-items-between py-4 text-white">
    <div class="w-50">
      <h2 class="fw-bold ms-5">Hero Trainer is a platform that connects users with elite training partners for personalized workouts and skill development. </h2>
    </div>
  </div>


  <div>
    <div class="text-center mt-4"><h3><b>Explore popular classes</b></h3></div>

    <%= render "slider" %>

    <div class="container mt-4">
     <%= link_to "Browse Lessons", lessons_path, class: "btn btn-primary" %>
  </div>

  <div class="card m-5 d-flex justify-content-between align-items-center">
    <div class="text-black text-center mt-3"><p>Explore top trainers</p></div>
    <div class="cards m-5">
      <% @users.sample(3).each do |user| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
      <%= user.name %>
      </div>
      <% end %>
    </div>

      <div class="container mb-4">
      <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>
      </form>
      </div>
  </div>


  <div class="card m-5"><p>Footer</p></div>

</div>
