.filter-container {
  position: sticky;
  top: 8px;
  height: calc(100vh - 16px);
  overflow: hidden;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  padding: 10px;
  align-items: flex-start;
  border-radius: 10px;
}
