.hero-banner {
  height: 600px; /* Adjust height as needed */
  // background: asset-url('home-page.png') no-repeat center center;
  background-size: cover;

  background-size: cover;
  background-blend-mode: overlay;
}
