.navbar-lewagon {
  justify-content: space-between;
  background-color: #151d27;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .nav-links {

//   justify-content: space-between;

//   width: 30%;
// }
